div.dashboard {
    flex-direction: column;

    gap: 15px;

    div.current-cash {
        flex-direction: column;

        gap: 4px;
        div.cash{
            font-size: 1.2rem;
        }
        div.months {
            width: 100%;

            justify-content: space-evenly;

            span.month.current{
                font-size:1.1rem;
            }
            span.month{
                font-size:0.8rem;
            }
        }

    }

    div.inflows-outflows {
        div.inflows, div.outflows {
            gap:5px;
            flex-direction:column;
        }

        div.inflows > div{
            justify-content: flex-start;
        }

        div.outflows > div{
            justify-content: flex-end;
        }

        div.flow-title{
            span{
                font-size:0.8rem;
            }
        }

        div.inflows > div.flow-cash{
            padding-left: 5px;
        }

        div.outflows > div.flow-cash{
            padding-right: 5px;
        }
       
    }

 
}