div.dashboard {
    flex-direction: column;

    gap: 20px;

    div.current-cash {
        flex-direction: column;

        gap: 4px;
        div.cash{
            font-size: 1.2rem;
        }
        div.months {
            width: 100%;

            justify-content: space-evenly;

            span.month.current{
                font-size:1.1rem;
            }
            span.month{
                font-size:0.8rem;
            }
        }

    }

    div.inflows-outflows {
        div {
            gap:5px;
            flex-direction:column;
        }
    }

 
}