* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
}

div {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}